* {
    font-family: 'Poppins';
    color: #501FA3;
}

body {
    background-color: #FFF4CB;
}

.nav-bar {
    margin: auto;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}  

.nav-bar--link {
    color: #501FA3;
    text-decoration: none;
}

.nav-bar--link:hover {
color: #EF0D1B;
text-decoration: none;
}

.underlined-group {
display: flex;
flex-direction: column;
text-align: center;
}

.squiggly {
height: 10px;
width: 50px;
margin-left: 7%;
}

.work-title {
    font-size: 62px;
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 6%; 
}

.work-subtitle {
    font-size: 36px;
    font-weight: 500;
    color: #5a5c51;
    text-align: center;
    width: 50%;
    margin: auto;
    /* text-shadow: 1px 2px #501FA3; */
}

.row {
    display: flex;
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.proj-with-caption {
    margin-right: 13%;
}

.proj-image {
    height: 300px;
    width: 300px;
    padding: 1px;
}

.proj-image:hover {
    border: #501FA3 1px solid;
    padding: 0;
}

.project-caption-title {
    color: #41423a;
    font-size: 16px;
    margin: 0;
    /* margin-left: -2%; */
}

.project-caption-description {
    color: #41423a;
    font-size: 14px;
    margin: 0;
    /* margin-left: -2%; */
    margin-top: 1%;
    width: 110%;
}

.code-link {
    color: #41423a;
    text-decoration: none;
    font-size: 12px;
    margin: 0;
    /* margin-left: 40%; */
}

.code-link:hover {
    text-decoration: underline;
}

.teaching-list {
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
}

.work-teaching-text {
    color: #41423a;
}

@media (max-width: 800px) {
    .row {
        display: inline-block;
    }

    .proj-with-caption {
        width: 40%;
        margin: auto;
        margin-top: 5%;
    }

    .project-caption-description {
        width: 100% !important;
    }
  }